@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
ul {
    color: red;
}
ol {
    color: brown;
    background-color: cornsilk;
    font-size: 1em;
}
h1 {
    text-align: center;
}
hr {
    height: 5px;
    background-color: black;
}
nav {
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: beige;
    top: 0;
    margin: 0;
    display: flex; 
    align-items: center;
}
nav a:hover {
    background-color: rgb(228, 228, 203);
    
    padding:5px;
    border-radius: 0.2em;
    color: black;
  }
.title {
    text-align: center;
    margin-top: 80px;
}
nav a {
    margin-left: 20px;
    color: black;
    text-decoration: none;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
nav .active {
    font-size: 1.25em;
    font-weight: 700;
}
.content {
    margin: 0 10px;
}
.flexbox-text {
    display: flex; 
    gap: 20px;
}
.flexbox-content {
    width: 100px;
    height: auto;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.card {
    width: 200px;
    height: auto; 
    padding: 20px;
    display: flex;
    background-color: #e5e5e5;
    border-radius: 1em;
    justify-content: center;
    flex-direction: column;
    text-align:justify;
    box-shadow: 0 5px 10px black;
}
.btn-primary {
    width: 100px;
    padding: 10px;
    background-color: lightskyblue;
    border-radius: 1em;
    margin: 0 auto;
    box-shadow: 0 5px 5px lightslategray; 
}

